<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Ezcontent automation test suite">

  <test thread-count="5" name="Ezcontent Application Test Cases">
  <classes>
      <class name="ezcontent.qa.testcases.LoginPageTest"/>
      <class name="ezcontent.qa.testcases.ForgetPasswordPageTest"/>
      <class name="ezcontent.qa.testcases.SmartArticlePageTest"/>    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
